# vue files
node_modules
.DS_Store
dist
*.local

# credentials
**/credentials*.*
**/credentials*
credentials*

# config files
.vscode

# database files
sql.lock

# images
**/*.jpg
**/*.png
**/*.gif
**/*.ico
**/*.svg
images

# python files
**/__pycache__
**/Pipfile
.pytest_cache
.venv
