/* font formats google recommends: eot, woff2, woff, ttf */

@font-face {
	font-family: 'DejaVu Sans';
	src: url('/assets/fonts/DejaVuSans.ttf') format('truetype');
	/* TODO: add other formats here */
}

@font-face {
	font-family: 'kheina-icons';
	src:
		/* add woff, eot here too */
		url('/assets/fonts/kheina-icons.woff2?kwe5pk') format('woff2'),
		url('/assets/fonts/kheina-icons.ttf?kwe5pk') format('truetype'),
		url('/assets/fonts/kheina-icons.svg?kwe5pk') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:
		/* add woff, eot here too */
		url('/assets/fonts/material-icons.woff2?flUhRq') format('woff2'),
		url('/assets/fonts/material-icons.ttf?flUhRq') format('truetype');
}

@font-face {
	font-family: 'Material Icons Round';
	font-style: normal;
	font-weight: 400;
	src:
		/* add woff, ttf, eot here too */
		url('/assets/fonts/material-icons-round.woff2?LDItao') format('woff2'),
		url('/assets/fonts/material-icons-round.otf?LDItao') format('opentype');
}

@font-face {
	font-family: 'Material Symbols Outline';
	font-style: normal;
	font-weight: 400;
	font-variation-settings:
		'FILL' 0;
	src:
		/* add woff, eot here too */
		url('/assets/fonts/material-symbols.woff2?flUhRq') format('woff2'),
		url('/assets/fonts/material-symbols.ttf?flUhRq') format('truetype');
}

/* use !important to prevent issues with browser extensions that change fonts */
.material-icons {
	font-family: 'Material Icons' !important;
}
.material-icons-round {
	font-family: 'Material Icons Round' !important;
}
.kheina-icons {
	/* https://icomoon.io/app/#/projects */
	font-family: 'kheina-icons' !important;
}
.material-icons-outline {
	font-family: 'Material Symbols Outline' !important;
}

.kheina-icons, .material-icons, .material-icons-round, .material-icons-outline {
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.5em;
	direction: ltr;
	word-wrap: normal;
	white-space: nowrap;
	display: inline-block;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.report_content:before {
	content: '\e900';
}
.sword:before {
	content: '\1f52a';
}